@font-face {
  src: url("fonts/SF-Pro-Text-Regular.otf");
  font-family: SFProText;
}

@font-face {
  src: url("fonts/SF-Pro-Text-Black.otf");
  font-family: SFProText_Black;
}

@font-face {
  src: url("fonts/SF-Pro-Text-BlackItalic.otf");
  font-family: SFProText_BlackItalic;
}

@font-face {
  src: url("fonts/SF-Pro-Text-Bold.otf");
  font-family: SFProText_Bold;
}

@font-face {
  src: url("fonts/SF-Pro-Text-BoldItalic.otf");
  font-family: SFProText_BoldItalic;
}

@font-face {
  src: url("fonts/SF-Pro-Text-Light.otf");
  font-family: SFProText_Light;
}

@font-face {
  src: url("fonts/SF-Pro-Text-Medium.otf");
  font-family: SFProText_Medium;
}

@font-face {
  src: url("fonts/SF-Pro-Text-Semibold.otf");
  font-family: SFProText_Semibold;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

html {
  background: #e5e5e5;
  font-size: 14px;
}

body {
  font-family: "SFProText";
  font-size: 14px;
  background: #fafbfb;
  color: #121e28;
}

.fa:before {
  font-family: "FontAwesome";
}

a {
  outline: none;
}

a:hover {
  color: red !important;
  text-decoration: none;
}

// common classes paragraphs, titles
.s1-subtitle {
  font-style: normal;
  font-family: SFProText_Semibold;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
}

.s2-subtitle {
  font-style: normal;
  font-family: SFProText_Semibold;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
}

.p2-paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 0;
}

.p4-paragraph {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 0;
}

.p2-medium {
  font-style: normal;
  font-family: "SFProText_Medium";
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 0;
}

.p2-semibold {
  font-style: normal;
  font-family: SFProText_Semibold;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 0;
}

.h2-headline {
  font-style: normal;
  font-family: SFProText_Bold;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 0;
}

.h5-headline {
  font-style: normal;
  font-family: SFProText_Bold;
  font-size: 22px;
  line-height: 32px;
  //
  //@media screen and (max-width: 640px) {
  //  font-size: 14px;
  //  line-height: 18px;
  //}
}

.h6-headline {
  font-style: normal;
  font-family: SFProText_Semibold;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 0;

  &.text-3lines {
    max-height: 72px;
  }
}

.c2-caption {
  font-style: normal;
  font-family: SFProText_Semibold;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 0;
}

.text-2lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 200%; /* fallback */
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.text-3lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 300%; /* fallback */
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.text-4lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 400%; /* fallback */
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}


.category-heading {
  width: 100%;
  padding: 7px 24px;
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
  margin-bottom: 8px;

  h6 {
    color: #121e28;
  }

  &:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 100%;
    left: 0;
    top: 0;
    background: #85C652;
  }

  &.orange-heading {
    background: #FB8200;

    h6 {
      color: #ffffff;
    }

    &:before {
      background: #003F66;
    }
  }
}

.category-item {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  background: #85C652;
  border: 1px solid #FFFFFF;
  border-radius: 42px;
  color: #fff;
  padding: 2px 8px;
}

.created-at {
  font-style: normal;
  font-family: SFProText_Semibold;
  font-size: 12px;
  line-height: 16px;
  color: #121E28;
  margin-left: 12px !important;
}

.following-heading {
  display: flex;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
  align-items: center;
  margin-bottom: 8px;


  .star {
    width: 38px;
    height: 38px;
    background: #FB8200;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
  }
}

.dark-blue-gray {
  color: #71787E;
}

// end common class paragraphs, titles


// common class

.container {
  width: 1230px;
  max-width: 1230px;
  margin: auto;
  padding: 0;

  &.container-pl100 {
    padding-left: 102px;

  }

  @media screen and (max-width: 1230px) {
    width: 100%;
    max-width: 100%;
    padding: 0 36px;

    &.container-pl100 {
      padding: 0 36px;

    }
  }

  @media screen and (max-width: 768px) {
    padding: 20px 36px 0;

    &.container-pl100 {
      padding: 20px 36px 0;

    }
  }

  @media screen and (max-width: 480px) {
    padding: 20px 16px 0;

    &.container-pl100 {
      padding: 20px 16px 0;

    }
  }
}

img {
  max-width: 100%;
  outline: none !important;
}

ul {
  padding: 0;
  margin-bottom: 0;

  li {
    list-style: none;
    outline: none;
  }
}

//

// common blocks
/**
Block with 3 feeds at top: 1 big + 2 small, slide feeds at bottom: show 3 feeds
 */
.box_highlight_feeds {
  .block-top {
    ul {
      display: flex;

      li {
        background: #fff;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
        border-radius: 4px;
        display: inline-block;

        &.big_feed {
          width: 60%;
          margin-right: 8px;

          & > a {
            width: 100%;
            max-height: 367px;
          }


          .big_feed--img {
            width: 100%;
            display: block;
            overflow: hidden;
            height: 100%;

            img {
              border-top-left-radius: 4px;
              border-top-right-radius: 4px;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .big_feed--title {
            padding: 15px 8px 16px 16px;

            h5 a {
              margin-bottom: 8px;
              color: #121E28;
            }

            p {
              color: #71787e;
            }
          }
        }

        &.double_feeds {
          width: 40%;
          padding: 8px 6px 16px 12px;

          .double_feeds--feed {
            &:first-child {
              margin-bottom: 24px;
            }

            h6 {
              a {
                color: #121e28;
                margin-top: 8px;
              }
            }
          }
        }
      }
    }

  }

  .block-bottom {
    padding: 16px 0 60px 16px;
    width: 100%;
    background: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    margin-top: 8px;

    & > ul {
      width: 100%;
      margin-bottom: 0 !important;

      .slick-arrow {
        z-index: 3;
        position: absolute;
        bottom: -55px;
        top: inherit;
        width: 27px;
        height: 27px;
        border-radius: 50%;
        background: #B8BCBF;

        &:before {
          color: #fff;
          font-size: 12px;
          top: 48%;
          left: 52%;
          transform: translate(-50%, -50%);
          position: absolute;
        }

        &.slick-prev:before {
          left: 48%;
        }

        &:hover {
          background: #85c652;
        }

      }

      .slick-prev {
        right: 60px;
        left: inherit;
      }

      .slick-next {
        right: 20px;
      }

      & li.slick-slide {
        max-height: 250px;

        &:not(:last-child) {
          padding-right: 16px;
        }

        h6 {
          a {
            margin-top: 8px;
            color: #121e28;
          }
        }
      }

      .slick-dots {
        bottom: -40px;

        li {
          margin: 0;
          width: 14px;
          height: 14px;

          button {
            padding: 0;
            width: 14px;
            height: 14px;

            &:before {
              color: #B8BCBF !important;
              opacity: 1 !important;
              font-size: 6px;
              width: 14px;
              height: 14px;
            }
          }

          &.slick-active {
            button:before {
              color: #85C652 !important;
            }
          }
        }
      }

    }

    &.block-orange {
      .slick-dots {
        .slick-active {
          button:before {
            color: #FB8200 !important;
          }
        }
      }
    }

  }

  @media screen and (max-width: 1230px) {
    .block-top {
      ul {
        li {
          &.double_feeds {
            .double_feeds--feed {
              img {
                height: auto;
                width: fit-content;
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .block-bottom {
      background: transparent;
      box-shadow: none;
      padding-bottom: 0;
      padding-left: 0;
    }
  }

  @media (max-width: 640px) {
    .block-top {
      ul {
        display: grid;

        li {
          border-radius: 0;
          background: transparent;
          box-shadow: none;

          &.big_feed {

            width: 100%;
            padding-bottom: 16px;
            border-bottom: 1px solid #e1e3e5;
          }

          &.double_feeds {
            width: 100%;
            padding: 16px 0;
            border-bottom: 1px solid #e1e3e5;

            .double_feeds--feed {
              display: flex;

              a.wrap_image {
                width: calc(50% - 16px);
                margin-right: 16px;

                img {
                  width: 100%;
                }
              }

              h6 {
                width: 50%;

                a {
                  max-height: initial;
                  -webkit-line-clamp: initial;
                }
              }
            }
          }
        }
      }
    }

    .block-bottom {
      & > ul {
        .slick-dots, .slick-arrow {
          display: none !important;
        }
      }
    }
  }
}

/**
end
 */

/**
Block with image on left, title, descriptions, category and time created on right
 */
.hottest-feeds {
  margin-top: 24px;

  .hottest-feeds--content {
    .hottest-feed {
      display: flex;

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      a.h5-headline.on-mobile {
        color: #121E28;
      }

      a.img {
        width: 256px;
        height: 168px;
        overflow: hidden;
        display: flex;
        align-items: center;
      }

      img {
        width: 100%;
        display: inline-block;
        height: auto;

      }

      .wrap_image {
        width: 256px;
        height: 168px;
      }

      .hottest-feed--description {
        width: calc(100% - 256px);
        display: inline-block;
        padding-left: 16px;

        > *:not(:last-child) {
          margin-bottom: 10px;
        }

        a.h5-headline {
          color: #121E28;

        }

        p.p2-paragraph {
          color: #71787e;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .hottest-feeds--content {
      .hottest-feed {
        flex-wrap: wrap;

        .hottest-feed--description {
          flex: 0 0 60%;

        }

        & > h5 {
          flex: 0 0 100%;
          margin-bottom: 16px;
        }

        .img, .wrap_image {
          flex: 0 0 40%;
          height: auto !important;

          img {
            width: 100%;
            height: auto;
            object-fit: cover;
          }
        }
      }
    }
  }
  @media (max-width: 640px) {
    .hottest-feeds--content {
      .hottest-feed {
        padding-bottom: 16px;
        border-bottom: 1px solid #B8BCBF;

        .hottest-feed--description {
          flex: 0 0 60%;

          h5 {
            display: none;
          }
        }

        & > h5 {
          flex: 0 0 100%;
          margin-bottom: 16px;

          a {
            font-size: 18px;
            line-height: 24px;
            font-family: SFProText_Semibold;
          }
        }

        .img, .wrap_image {
          flex: 0 0 40%;
          height: auto !important;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}

/**
end
 */


/**
Block has 3 feeds, with image on left, title and view count on right
 */

.top-followings {
  margin-top: 24px;

  .following-heading {
    margin-bottom: 4px;
  }

  ul {
    background: #121E28;
    padding: 16px 35px 16px 4px;

    li {
      display: flex;

      &:not(:last-child) {
        margin-bottom: 16px;
      }


      .img {
        //width: 32%;
        width: 256px;
        height: 168px;
        overflow: hidden;
        display: inline-block;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .top-followings--title {
        width: 68%;
        padding-left: 16px;
        display: inline-block;

        .h5-headline {
          color: #ffffff;
        }

        .views-count {
          color: #85C652;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    ul {
      li {
        .top-followings--title {
          //width: calc(100% - 272px);
          padding-left: 0;
          margin-left: 16px;
        }
      }
    }

  }

  @media (max-width: 768px) {
    ul {
      padding: 16px 4px;
    }
  }

  @media screen and (max-width: 640px) {
    width: calc(100% + 32px);
    margin-left: -16px;
    background: #121E28;
    max-width: initial;
    margin-top: 16px;

    .following-heading {
      width: calc(100% - 30px);
      margin-left: 15px;
    }

    ul {
      padding: 8px 16px;

      li {
        .img {
          flex: 0 0 40%;
          height: auto;
        }

        .top-followings--title {
          flex: 0 0 60%;

          a {
            font-size: 14px;
            line-height: 18px;
            font-family: SFProText;
          }
        }
      }
    }
  }

  @media screen and (max-width: 414px) {
    ul {
      padding: 15px;

      li {
        .img {
          flex: 0 0 160px;
          display: block;
          overflow: hidden;
        }

        .top-followings--title {
          flex: 0 0 calc(100% - 176px);

          .h5-headline {
            font-family: SFProText;
          }
        }
      }
    }
  }

  @media screen and (max-width: 320px) {
    ul {
      li {
        padding: 10px;
        display: block;

        .img {
          width: 100% !important;
          height: auto;

          img {
            width: 100%;
          }
        }

        .top-followings--title {
          width: 100%;
          padding-left: 0px;
          margin-top: 10px;
        }
      }
    }
  }

}

/**
end
 */


/**
Category Block: Block has 4 feeds, with 1 big feed that has image, big title. 3 remain feeds only small title
This block can use like a sub-block.
 */

.category-block-item {

  .category-heading {
    margin-bottom: 8px;
  }

  ul {
    li {
      padding-top: 8px;

      &:not(:last-child) {
        padding-bottom: 16px;
        border-bottom: 1px solid #B8BCBF;
      }

      &.big-feed {

        & > a {
          display: block;
          overflow: hidden;
          height: 262px;

          img {
            height: 100%;
            object-fit: cover;
          }
        }

        h6 {
          margin-top: 16px;
          margin-bottom: 8px;

          .h6-headline {
            color: #121e28;

          }
        }
      }

      .s2-subtitle {
        color: #71787e;
      }
    }
  }

  @media screen and (max-width: 640px) {
    ul {
      li {
        &.big-feed {
          padding-top: 0;

          & > a {
            width: 100%;
            height: auto;

            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

/**
end
 */


/**
Category Block 2: Block has 3 feeds, each feed contain image at left, title and description at right,
This block can use like a sub-block.
 */

.category-block-vertical {

  .category-heading {
    margin-bottom: 8px;
  }

  ul {
    li {
      border-bottom: none !important;
      display: flex;

      &:nth-child(4) {
        display: none;
      }

      .wrap_image {
        img {
          max-width: 100% !important;
        }
      }

      .p4-paragraph {
        color: #71787e;
      }

      .p2-semibold {
        color: #121E28;
        margin-bottom: 4px;
      }
    }
  }

  @media screen and (max-width: 640px) {
    ul {
      li {
        flex-direction: column;

        &:not(:first-child) {
          margin: 0 !important;
          padding: 8px 0 !important;

          .wrap_image {
            display: none;
          }

          .p2-semibold {
            font-size: 14px;
            line-height: 24px;
            max-height: 48px;
            -webkit-line-clamp: 2;
            color: #71787e;
            margin-bottom: 0;
          }
        }

        &:first-child {
          margin-bottom: 0 !important;
          padding-bottom: 16px;
          padding-top: 0;

          .p2-semibold {
            font-size: 18px;
            line-height: 24px;
            margin-top: 16px;
          }

          .wrap_image {
            flex: 0 0 100%;
            max-width: 100%;
          }
        }

        &:nth-child(4) {
          display: block;
        }

        &:not(:last-child) {
          border-bottom: 1px solid #B8BCBF !important;
        }

        &:last-child {
          padding-bottom: 0 !important;
        }

        .title--wrap {
          flex: 0 0 100%;
          max-width: 100%;
        }

        .p4-paragraph {
          display: none;
        }
      }
    }
  }
}

/**
end
 */
//
.header-container {
  width: 1230px;
  max-width: 1230px;
  margin: auto;
  display: flex;
  height: 100%;
  align-items: center;

  .logo {
    width: 250px;
    text-align: center;
  }

  .top-menu {
    width: calc(100% - 250px);
    padding: 0;
    margin-bottom: 0;
    text-align: right;

    li {
      list-style: none;
      display: inline-block;

      &:not(:last-child) a {
        padding-right: 16px;
      }

      a {
        color: #fff;
        letter-spacing: -0.6px;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .feeds {
    .feed-head {
      display: flex;
      align-items: center;

      .p2-paragraph {
        color: #71787E;
      }
    }

    ul {
      margin-bottom: 0;

      li {
        display: inline-block;
        list-style: none;
        padding: 11px 24px 11px 0;
        position: relative;

        a {
          color: #121e28;
        }

        &:after {
          position: absolute;
          content: '';
          left: 0;
          bottom: 0;
          width: 24px;
          height: 2px;
          background: #FB8200;
          border-radius: 51px;
        }
      }
    }
  }

  .search {
    form {
      display: flex;
      align-items: center;
      height: 100%;

      .inp-search {
        width: 100%;
        background: #ecedee;
        border: none;
        padding: 10px 30px 10px 10px;
        height: 100%;
        outline: none;

        &:focus, &:active {
          border: none;
          outline: none;
        }
      }

      .btn-search {
        position: absolute;
        border: none;
        background: transparent;
        right: 0;
        padding: 0;
        cursor: pointer;
      }
    }
  }

  @media screen and (max-width: 1230px) {
    width: 100%;
    max-width: 100%;
    padding: 0 36px;
  }

  @media screen and (max-width: 1280px) {
    .top-menu {
      li {
        &:nth-child(n+9) {
          display: none;
        }
      }
    }
    .feeds {
      ul {
        height: 40px;
        overflow: hidden;
        width: 100%;

        li {
          padding: 10px;
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .top-menu {
      li {
        &:nth-child(n+6):not(:last-child) {
          display: none;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .top-menu {
      li {
        &:nth-child(n+4):not(:last-child) {
          display: none;
        }
      }
    }

    .feeds {
      ul {
        height: 40px;
        overflow: hidden;
        width: 100%;

        li {
          padding: 10px;
        }
      }
    }

    .search {
      .btn-search {
        right: 10px;
      }
    }
  }
}

.header {
  .header_layout {
    width: 100%;
    background: #85c652;
    height: 68px;

    .header-block {
      max-width: 1920px;
      margin: auto;
      display: flex;
      height: 100%;
      align-items: center;
      background-size: cover;
      background: url('../images/header-bg.png');
    }
  }

  .hot-feeds {
    width: 100%;
    background: #ecedee;
  }

  @media screen and (max-width: 1230px) {
    .header_layout {
      .header-block {
        max-width: 100%;
      }
    }
  }

  @media screen and (max-width: 640px) {
    .hot-feeds {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    .header_layout {
      .header-block {
        background: inherit;
        height: inherit;
        min-height: 66px;
      }
    }
  }

  @media screen and (max-width: 640px) {
    .header-container {
      display: none;

    }
  }

}

.big-banners {
  margin-top: 16px;
  background: #f2dda0;

  .banner-slides {
    .slick-dots {
      margin-bottom: 0px;
    }
  }

  .slick-dots {
    bottom: 0;
    width: 80%;
    left: 2%;

    li {
      margin: 0;
      width: 15px;

      button {
        padding: 0;
        width: 15px;

        &:before {
          width: 15px;
          color: #dedcdd !important;
          opacity: 1 !important;
          font-size: 12px;
        }
      }

      &.slick-active {
        button:before {
          color: #ffffff !important;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .container.container-pl100 {
      padding: 20px 0 0 0;
    }

    .slick-dots {
      margin-bottom: 0px;
    }
    a {
      max-width: 100vw;
      overflow: hidden;
      height: auto;

      img {
        width: fit-content;
        height: 100%;
        max-width: fit-content;
      }
    }
  }
  @media screen and (max-width: 414px) {
    a {
      height: 210px;
    }
  }
}

.slide-top-feeds {
  ul {
    width: 100%;

    li {
      cursor: pointer;
      border-radius: 4px;
      padding-right: 16px;
      height: 211px;
      width: 416px;
      overflow: hidden;

      div {
        position: relative;
        cursor: pointer;
        width: 100%;
        height: 100%;
        max-height: inherit;

        &:after {
          top: 0;
          left: 0;
          position: absolute;
          content: '';
          width: 100%;
          height: 100%;
          background: linear-gradient(360deg, #121E28 0%, rgba(18, 30, 40, 0) 60.49%);
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
          cursor: pointer;
          z-index: 1;
        }

        p {
          position: absolute;
          width: 100%;
          bottom: 10px;
          z-index: 2;
          padding: 0 10px;

          a {
            color: #fff;
          }
        }

        img {
          border-radius: 4px;
        }

      }
    }

    .slick-arrow {
      width: 32px;
      height: 32px;
      top: calc(50% - 16px);
      z-index: 1;
      border-radius: 50%;
      background: #fff;
      opacity: 0.3;

      &:before {
        color: #121E28;
        font-size: 13px;
        top: 55%;
        left: 55%;
        position: absolute;
        transform: translate(-50%, -50%);
      }

      &.slick-prev:before {
        left: 48%;
      }

      &:hover {
        background: #85C652;
        opacity: 1;

        &:before {
          color: #fff;
        }
      }


      &.slick-next {
        right: 10px;
      }

      &.slick-prev {
        left: 10px;
      }
    }
  }

  @media screen and (max-width: 1230px) {
    ul {
      width: calc(100% + 36px);
    }
  }
  @media screen and (max-width: 640px) {
    ul {
      width: calc(100% + 16px);
      li {
        width: auto;
      }
    }
  }
}

.main-content {
  width: calc(100% - 312px);
  margin-top: 16px;

  @media screen and (max-width: 900px) {
    width: 100%;
  }
}

.covid-feed {
  margin-top: 24px;

  .covid-feed--content {
    background: #121E28;
    border-radius: 4px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;

    .country-title {
      font-style: normal;
      font-family: SFProText_Semibold;
      font-size: 14px;
      line-height: 20px;
      color: #ffffff;
      margin-bottom: 32px;
      width: 80%;
      margin-left: 10%;
      text-align: left;

    }

    label {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      color: #fff;
      width: 80%;
      text-align: left;


      input {
        box-sizing: border-box;
        border-radius: 16px;
        width: 58%;
        background: transparent;
        color: #fff;
        font-family: SFProText_Semibold;
        font-size: 14px;
        line-height: 20px;
        padding: 2px 10px;
      }
    }
  }
}

.categories-blocks {
  margin-top: 24px;

  .category-block:nth-child(1), .category-block:nth-child(2), .category-block-vertical {
    margin-bottom: 24px;
    padding: 0;

    &:nth-child(2n) {
      padding-left: 6px;
    }

    &:nth-child(2n+1) {
      padding-right: 6px;
    }
  }

  @media screen and (max-width: 640px) {
    .category-block, .category-block-vertical {
      padding: 0 !important;
      margin-bottom: 24px;
    }
  }
}

.hot-search-list {
  .hot-search-block {
    padding: 0 8px 8px 8px;
    height: 100%;

    &:nth-child(1) {
      padding-left: 0;
    }

    &:nth-child(2) {
      padding-right: 0;
    }

    .hot-search-item {
      padding: 28px 30px;
      font-style: normal;
      font-family: SFProText_Bold;
      font-size: 25px;
      line-height: 32px;
      color: #ffffff;
      border-radius: 4px;
      margin-bottom: 8px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        color: #ffffff;
      }

      &.hot-search-item__1 {
        background: #85C652;
      }

      &.hot-search-item__2 {
        background: #0090E1;
      }

      &.hot-search-item__3 {
        background: #71787E;
      }

      &.hot-search-item__4 {
        background: #FF8B77;
      }

    }
  }

  @media screen and (max-width: 640px) {
    .hot-search-block {
      height: auto;
      padding: 4px 0;

      .hot-search-item {
        height: auto;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 0;
      }
    }
  }
}

.ads-bottom {
  margin-top: 24px;

  a {
    width: 100%;
    max-width: 100%;
  }
}

.ads-right {
  text-align: right;
  width: 312px;
  padding-left: 16px;

  .vertical-ads {
    margin-bottom: 8px;
  }

  @media screen and (max-width: 900px){
    display: none!important;
  }
}

.mobile-ads {
  display: none;
  width: 100%;

  a {
    width: 100%;
    max-width: 100%;
  }

  @media screen and (max-width: 640px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.pc-ads {
  display: block;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.footer {
  padding: 40px 0;
  background: #fff;

  p.s2-subtitle {
    color: #121e28;
    margin-bottom: 4px;
  }


  p.p2-paragraph {
    margin-left: 30px;
  }

  p.p2-address {
    color: #b8bcbf;
  }

  .contact {
    margin-top: 24px;

    p.p2-paragraph {
      font-style: normal;
      font-family: SFProText_Bold;
      font-size: 14px;
      line-height: 18px;
      color: #b8bcbf;
    }
  }

  .logo-footer {
    margin-bottom: 24px;
  }

  .footer-content {
  }
}

.main {
  background: #fafafb;
  margin-bottom: 24px;
}

.big-category-title {
  width: 100%;
  background: #85C652;
  padding: 7px 32px;
  position: relative;

  span {
    color: #ffffff;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 8px;
    background: #00588F;
  }
}

.box-with-ads-right {
  width: calc(100% - 312px);

  @media screen and (max-width: 900px) {
    width: 100%;
  }
}

.content-after-post {
  padding-left: 119px;
  padding-right: 15px;
  margin-top: 16px;

  .categories-blocks, .box_highlight_feeds {
    margin-top: 8px;
  }


  .ads-right {
    margin-top: 8px;
  }

  .long-ads {
    margin-bottom: 24px;
  }

  @media screen and (max-width: 1024px) {
    padding-left: 15px;
  }
}

.content {
  padding: 32px 15px 20px 119px;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
  border-radius: 4px;

  .categories-blocks, .box_highlight_feeds {
    margin-top: 8px;
  }

  .ads-right {
    margin-top: 8px;
  }

  .long-ads {
    margin-bottom: 16px;
  }

  @media screen and (max-width: 1024px) {
    padding: 32px 39px 8px 31px;
  }
}

.with-border-bottom {
  padding-bottom: 20px;
  border-bottom: 1px solid #B8BCBF;
  margin-bottom: 24px;
}

.key-search {
  margin-bottom: 0px;

  span {
    color: #0090e1;

    @media screen and (max-width: 640px) {
      font-size: 22px;
      line-height: 32px;
    }
  }
}

// Post page

.post {
  #post-content {
    .post-title {
      color: #121e28;
      margin-bottom: 26px;
    }

    .post-info {
      .post-created-time span {
        font-style: normal;
        font-family: SFProText_Semibold;
        font-size: 12px;
        line-height: 16px;
        color: #71787E;
      }

      .post-views span {
        font-family: SFProText_Semibold;
        font-size: 14px;
        line-height: 18px;
        text-align: right;
        color: #FB8200;
      }
    }

    .post-short-description {
      margin-top: 32px;

      span {
        color: #121e28;
      }
    }

    .posts-related {
      margin-top: 24px;
      border-bottom: 1px solid #B8BCBF;
      @media screen and (max-width: 768px) {
        border-bottom: none;
        &::after {
          content: '';
          position: absolute;
          width: calc(100% + 42px);
          left: -21px;
          bottom: 0;
          border-bottom: 1px solid #b8bcbf;
        }
      }

      @media screen and (max-width: 480px) {
        &::after {
          left: 0;
          width: calc(100% + 16px);
        }
      }

      .related_lists {
        padding-left: 24px;

        padding-right: 130px;

        @media screen and (max-width: 640px) {
          padding: 0;
        }

        li {
          position: relative;
          padding-bottom: 8px;
          padding-top: 8px;
          border-bottom: 1px solid #B8BCBF;
          @media screen and (max-width: 640px) {
            padding-left: 30px;
          }
          @media screen and (max-width: 480px) {
            margin-right: -16px;
            padding-right: 16px;
          }

          &:last-child {
            border-bottom: none;
          }

          &:before {
            position: absolute;
            content: '';
            left: -24px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #00588F;
            top: 16px;

            @media screen and (max-width: 640px) {
              left: 0;
            }
          }

          a {
            font-size: 14px;
            font-family: SFProText_Semibold;
            color: #0090e1;
          }
        }
      }
    }

    .post-content {
      margin-top: 24px;
      padding-right: 16px;

      p {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #121E28;
        margin-bottom: 16px;
      }

      .image {
        margin-bottom: 24px;

        img {
          width: 100%;
        }
      }

      .with-caption {

        .image-caption {
          padding: 4px 32px;
          background: #ECEDEE;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 24px;
          color: #121E28;
          position: relative;

          &:before {
            content: '';
            width: 8px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: #85C652;
          }
        }
      }
    }

    .post-signature {
      margin-bottom: 40px;

      .tag-title {
        width: auto;

        span {
          font-style: normal;
          font-family: SFProText_Semibold;
          font-size: 14px;
          line-height: 24px;
        }
      }

      .tag-lists {
        width: calc(100% - 60px);
        padding-left: 8px;

        li {
          padding: 1px 8px;
          background: #71787E;
          border: 1px solid #FFFFFF;
          border-radius: 42px;
          margin-right: 4px;
          display: inline-flex;
          margin-bottom: 8px;
          float: left;

          a {
            color: #fff;
            font-size: 12px;
            line-height: 16px;
            font-family: SFProText_Medium;
          }
        }
      }

      .signature {
        font-style: normal;
        font-family: SFProText_Semibold;
        font-size: 14px;
        line-height: 18px;
        color: #121e28;
        text-align: right;

        .author {
          color: #5b89ff;
        }
      }
    }

    .hottest-feeds {
      border-top: 1px solid #B8BCBF;
      margin-top: 0;
      padding-top: 16px;
      padding-bottom: 20px;
      @media screen and (max-width: 768px) {
        border-top: none;
        &::after {
          content: '';
          position: absolute;
          width: calc(100% + 42px);
          left: -21px;
          top: 0;
          border-bottom: 1px solid #b8bcbf;
        }
      }

      @media screen and (max-width: 640px) {
        padding-bottom: 0;
      }

      @media screen and (max-width: 480px) {
        border-top: 1px solid #B8BCBF;
        &::after {
          display: none;
        }
      }
    }
  }

  .post-ads {
    width: 312px;
    padding-left: 16px;
  }
}


// Search Page
.search-box {
  position: relative;

  .search-box__inp {
    padding: 8px 0;
    border: none;
    border-bottom: 1px solid #B8BCBF;
    font-style: normal;
    font-family: SFProText_Bold;
    font-size: 32px;
    line-height: 40px;
    color: #0090E1;
    border-radius: 0;

    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  .search-box__btn {
    width: 40px;
    height: 40px;
    background: #FB8200;
    position: absolute;
    top: 8px;
    right: 0;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    border: none;
  }

  p.p2-headline {
    margin-bottom: 0;
  }
}

.pagination {
  margin: 40px auto;

  ul {
    @media screen and (max-width: 640px) {
      display: none;
    }

    li {
      display: inline-block;
      width: 32px;
      height: 32px;
      background: #fff;
      margin: 0 6px;
      box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
      border-radius: 4px;
      text-align: center;
      cursor: pointer;

      a {
        color: #1F345B;
        text-align: center;
        font-size: 15px;
        font-family: SFProText_Medium;
        line-height: 32px;
      }

      &.last {
        transform: matrix(-1, 0, 0, 1, 0, 0);
      }

      &.disabled a {
        cursor: not-allowed;
      }

      &.active {
        background: #121E28;

        a {
          color: #ffffff;
        }
      }
    }
  }

}

.breadcrumb-bar {
  background: #121E28;

  .category-name {
    font-style: normal;
    font-family: SFProText_Semibold;
    font-size: 18px;
    line-height: 24px;
    padding: 8px 21px;
  }

  .sub-categories-list {
    padding-left: 30px;
    display: flex;

    @media screen and (max-width: 640px) {
      display: none;
    }

    li {
      display: inline-block;
      padding: 8px 20px;
      position: relative;
      cursor: pointer;

      a {
        color: #fff;
      }

      &:before {
        content: '';
        height: 3px;
        background: #85C652;
        position: absolute;
        bottom: 0;
        left: 20px;
        right: 20px;
        display: none;
      }

      &.active, &:hover {
        a {
          color: #85C652;
        }

        &:before {
          display: block;
        }
      }
    }
  }
}

.on-mobile {
  display: none;

  @media (max-width: 640px) {
    display: block;
  }
}

/**
* Header Dropdown
*/

.header_layout {
  position: relative;

  .header-dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    right: 0;
    z-index: 2;
    background: #fff;
    display: none;
    @media (max-width: 640px) {
      position: fixed;
      width: 100vw;
      height: 100vh;
      overflow-y: scroll;
      top: 55px;
    }

    .header-container {
      @media (max-width: 640px) {
        padding: 0 10px;
      }
    }

    .menu-items {
      display: flex;
      width: 100%;
      padding: 24px;
      @media (max-width: 640px) {
        margin: 0px;
        padding: 25px 10px;
        padding-top: 80px;
      }

      > li {
        display: inline-block;
        margin-bottom: 48px;
        padding: 8px 0;

        @media (max-width: 640px) {
          margin-bottom: 32px;
        }

        a.h6-headline {
          color: #121E28;
          margin: 8px 0;
          position: relative;
          padding-left: 20px;

          &:before {
            content: '';
            width: 12px;
            height: 12px;
            background: #85C652;
            position: absolute;
            left: 0;
            top: calc(50% - 6px);
          }

        }


        .sub-menu {
          li {
            width: 100%;
            display: block;
            padding: 4px 0;

            a.p2-paragraph {
              margin-bottom: 12px;
              color: #71787e;
            }

          }
        }
      }
    }
  }
}

.navigation-vertical {
  position: absolute;
  top: 50vh;
  left: 0;
  z-index: 222;

  li {
    margin-bottom: 12px;
    border-top-right-radius: 45%;
    border-bottom-right-radius: 45%;

    &.nav-home {
      background: #85C652;
    }

    &.nav-facebook {
      background: #0090e1;
    }

    a {
      display: block;
      padding: 10px 17px;
      text-align: center;
    }

    i {
      font-size: 22px;
      color: #fff;
      line-height: 22px;
    }
  }

  @media screen and (max-width: 1024px) {
    margin-left: -36px;
    top: 20vh;
  }

  @media screen and (max-width: 640px) {
    display: none;
  }
}

.header-mobile {
  display: none;
  background: #85C652;
  padding: 15px 0;
  z-index: 22;


  a {
    color: #fff;
  }

  @media (max-width: 640px) {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .js-toggle-dropdownmenu {
      width: 30px;
      height: 30px;
      display: inline-block;

      img {
        width: 100%;
      }
    }
  }
  @media (max-width: 480px) {
    display: block;

    .js-toggle-dropdownmenu {
      width: 24px;
      height: 24px;
      line-height: 38px;
    }

    .wrap-xl {
      padding-right: 12px;
    }
  }

  @media (max-width: 375px) {
    .col-8.offset-4 {
      margin-left: 0;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

.hide-mobile {
  @media (max-width: 768px) {
    display: none;
  }
}

.btn-mobile-search, .btn-active-mobile-search {
  background: transparent;

}

.btn-active-mobile-search {
  display: none;

  @media (max-width: 640px) {
    display: inline-block;
  }
}


.form-mobile-search {
  position: relative;
  z-index: 22;

  .inp-mobile-search {
    width: 200px;
    border: none;
    background: transparent;
    color: #fff;
    right: 50px;
    position: absolute;
    top: 0;
    height: 34px;
    border-bottom: 1px solid #fff;
    outline: none;
    padding: 10px 5px;
  }

  @media (max-width: 640px) {
    display: none;
    position: fixed;
    background: #000000d9;
    top: 56px;
    left: 0;
    width: 100vw;
    height: 40px;
    padding: 0 10%;

    .inp-mobile-search {
      left: 20%
    }

    @media (max-width: 320px) {
      padding: 0 5%;
    }

    .btn-mobile-search {
      line-height: 40px;
      padding: 0;
    }
  }


}

@media (max-width: 768px) {
  img {
    height: auto;
    max-width: inherit;
  }

  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }
}


.wrap_image {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    max-width: inherit;
    object-fit: cover;
  }

}

.main.category {

  .content-after-post {
    margin-top: 24px;
  }

  @media (max-width: 768px) {
    .container {
      padding-top: 0;
    }

    .breadcrumb-bar {
      width: calc(100% + 72px);
      margin-left: -36px;
      max-width: initial;
    }
  }

  @media (max-width: 480px) {
    background: #fff;
    margin-bottom: 0;

    .breadcrumb-bar {
      width: calc(100% + 32px);
      margin-left: -16px;
    }

    .box_highlight_feeds {
      .block-top {
        ul {
          li {
            &.big_feed {
              padding-bottom: 0;
            }

            &.double_feeds {
              border-bottom: 0;
              padding-bottom: 0;
            }
          }
        }
      }
    }

    .hottest-feeds {
      .hottest-feeds--content {
        .hottest-feed {
          &:last-child {
            border-bottom: none;
          }
        }
      }
    }
  }
}

.orange-heading.category-heading {
  margin-bottom: 8px;
  margin-top: 16px;
}

.block-orange.block-bottom {
  margin-top: 0;
  padding-top: 0;
}

.block-bottom--slides {
  li {
    & > a {
      width: 100%;
      height: auto;
      overflow: hidden;
      display: block;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.search_box {
  .ads-right {
    float: right;
  }

  .box-with-ads-right {
    display: inline-block
  }
}

.main.tag {
  .hottest-feeds {
    margin-top: 0;

    .hottest-feed:last-child {
      margin-bottom: 20px;
    }
  }

  .content {
    padding: 32px 15px 0px 119px;
    background: #FFFFFF;
    box-shadow: none;

    .ads-right {
      margin-top: 0;
    }

    .related_wrap {
      padding-right: 8px;
    }


  }

  .box_related_news {
    padding: 0px 15px 20px 119px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
    border-radius: 4px;

    .box_highlight_feeds {
      margin-top: 8px;
    }

    .related_box {
      display: flex;

      .ads-right {
        margin-top: 8px;
        padding-left: 8px;
      }

      .box-with-ads-right {
        width: calc(100% - 304px);
      }
    }
  }

  @media (max-width: 1024px) {
    .content {
      padding: 32px 39px 8px 31px;
    }

    .box_related_news {
      padding: 0 39px 8px 31px;
    }

  }
  @media (max-width: 900px) {
    .box-with-ads-right {
      width: 100% !important;
    }
  }
  @media (max-width: 768px) {
    .content {
      padding: 32px 39px 8px 39px;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
      border-radius: 4px;
      margin-bottom: 24px;

      .related_wrap {
        padding-right: 0;
      }

      .result_box {
        .result-post {
          border-bottom: none;
          padding-bottom: 0;
          margin-bottom: 0;
        }
      }
    }

    .box_related_news {
      padding: 0 15px;
      background: transparent;
      box-shadow: none;
      border-radius: 0;

      .related_box {
        .box-with-ads-right {
          width: 100%;
        }
      }
    }

    .ads {
      display: none;
    }

    .block-orange.block-bottom {
      width: calc(100% + 36px);
      margin-top: 0;
      padding-top: 0;
    }

  }
}

@media (max-width: 768px) {
  .main.search {
    .search_box {
      .result-search {
        width: calc(100% + 40px) !important;
        margin-left: -15px;
        max-width: initial;

        p.w-100 {
          padding: 0 24px;
        }

        .search-box__inp {
          padding-left: 16px;
          padding-right: 10px;
        }

        .search-box__btn {
          right: 16px;
        }

        p.p2-headline {
          padding-left: 26px;
        }
      }
    }
  }
}

@media (max-width: 640px) {

  .big-banners {
    margin-top: 0;
  }

  .main.post {
    margin-bottom: 0;

    .container {
      padding: 0;
    }

    .content {
      padding: 24px 31px 8px 31px;
      box-shadow: none;
      border-radius: 0;

      .post-title {
        font-size: 18px;
        line-height: 24px;
        font-family: SFProText_Semibold;
      }
    }

    .content-after-post {
      padding: 0 31px;
      background: #fff;
    }
  }

  .main.tag {
    margin-bottom: 0;

    .container {
      padding: 0;

      .content {
        padding: 24px 31px 8px 31px;
        margin-bottom: 0;
        box-shadow: none;
        border-radius: 0;
      }

      .box_related_news {
        padding: 0 31px;
        background: #fff;

      }
    }
  }
  .main.search {
    .search-box__btn {
      display: none;
    }

    .container {
      padding: 0;

      .content {
        padding: 24px 31px 8px 31px;
        margin-bottom: 0;
        box-shadow: none;
        border-radius: 0;

        .result-search {
          width: 100% !important;
          margin-left: 0;
        }
      }

      .content-after-post {
        padding: 0 31px;
        background: #fff;
      }
    }
  }
  .s2-subtitle {
    a.on-mobile {
      color: #0090E1;
    }
  }
}


@media (max-width: 414px) {
  .block-orange.block-bottom {
    width: calc(100% + 16px);
  }
}

/*

.main.search {
  padding: 0 36px;
  margin-bottom: 16px;
  margin-top: 24px;

  .content {
    padding: 0 15px;
    background: transparent;
    box-shadow: none;

    .search_box {
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
      margin-bottom: 0;
      padding: 24px 0 16px 0;
      background: #fff;

      .result-search {
        p.w-100 {
          padding: 0 24px;
        }

        .search-box__inp {
          padding-left: 24px;
          padding-right: 10px;
        }

        .search-box__btn {
          right: 10px;
        }

        p.p2-headline {
          padding-left: 26px;
        }
      }
    }

    .hottest-feeds {
      padding: 0 39px;
    }

    .pagination {
      margin-bottom: 24px;
    }

  }

  .content-after-post {
    padding-left: 0;
    padding-right: 0;

  }

  .s2-subtitle {
    a.on-mobile {
      color: #0090E1;
    }
  }

  @media (max-width: 414px) {
    .pagination {
      margin-bottom: 0px !important;
      padding-bottom: 16px;
      border-bottom: 1px solid #B8BCBF;
      border-radius: 0;

    }
  }

}
*/

.block-bottom--slides {
  width: 100%;

  @media (max-width: 768px) {
    width: calc(100% + 36px) !important;
  }
  @media (max-width: 480px) {
    width: calc(100% + 16px) !important;
  }

  li {
    max-height: 260px;

    & > a {
      display: block;
      overflow: hidden;
    }
  }
}

.category-heading {
  @media (max-width: 414px) {
    margin-top: 0px;
    margin-bottom: 8px;
  }
}

.isPC {
  display: block !important;

  @media (max-width: 1000px) {
    display: none !important;
  }
}

.isMobile {
  display: none !important;
  @media (max-width: 1000px) {
    display: block !important;
  }
}